page-SLC {
	.text-input[type=number]::-webkit-inner-spin-button, 
	.text-input[type=number]::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0; 
	}

	.check_box {
		display: none;
	}

	.text-input {
		color: black;
	}

	.vertical-text {
		transform: rotate(-90deg);
		font-size: 20px;
		transform-origin: left top 0;
	}

}
