page-SLCSignIn {

// hide the arrow keys for number type input
	.text-input[type=number]::-webkit-inner-spin-button, 
	.text-input[type=number]::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    margin: 0; 
	}

}
