<ion-header text-center>
  <ion-navbar>
    <ion-title style="margin-top: 20px">Subway Load Check</ion-title>
  </ion-navbar>
</ion-header>

<!--.................................................................................................................-->

<ion-content>

<ion-card style="background: #E8F5E9">

  <ion-row>
    <ion-col col-6>
      <ion-row style = "margin-top: 3px; margin-bottom: 3px">
        <ion-col col-7>
          <ion-label style="color: black; font-size: 20px; margin-left: 12px;">Payroll Number: </ion-label>
        </ion-col>
        <ion-col col-4>
          <button tappable ion-button full style="font-size: 20px; color: black;" [style.backgroundColor]="validName ? '#E8F5E9' : '#FFFF00'" (click)="showChangePayrollAlert(6)">{{PayrollNum}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-auto>
          <ion-label style="color: black; font-size: 20px; margin-left: 10px">Tour: </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-datetime text-center style="color: black; font-size: 20px;" [style.backgroundColor]="validTourStart ? '#E8F5E9' : '#FFFF00'" displayFormat="HH:mm" minuteValues="0,30" (ionChange)="updateTourStart($event)" [(ngModel)]="tour_start" ></ion-datetime>  
        </ion-col>
        <ion-col col-1>
          <ion-label style="color: black; font-size: 20px; margin-right: 0px" > - </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-datetime text-center style="color: black; font-size: 20px;" [style.backgroundColor]="validTourEnd ? '#E8F5E9' : '#FFFF00'" displayFormat="HH:mm" minuteValues="0,30" (ionChange)="updateTourEnd($event)" [(ngModel)]="tour_end" ></ion-datetime>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item style="background: #E8F5E9">
          <ion-label style="color: black; font-size: 20px; margin-right: 0px; margin-top: 5px; margin-bottom: 5px" >Date: </ion-label>
          <ion-datetime style="color: black; font-size: 20px;" displayFormat="DDDD, MM/DD/YYYY" max="2040" [(ngModel)]="chosenDate" (ionChange)="updateSurveyDate(chosenDate)" [disabled]="true"></ion-datetime>  
        </ion-item>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
          <ion-item style="background: #E8F5E9; margin-top: 5px; margin-bottom: 5px;">
            <ion-label style="color: black; font-size: 20px; margin-right: 0px;">Name:</ion-label>
            <ion-input style="color: black; font-size: 20px;" [(ngModel)]="name" [disabled]="true"></ion-input>
          </ion-item>
      </ion-row>
      <ion-row>
        <ion-item style="background: #E8F5E9; margin-top: 5px; margin-bottom: 5px;">
          <ion-label style="color: black; font-size: 20px; margin-right: 0px"> Weather Condition: </ion-label>
          <ion-select style="color: black; font-size: 20px; margin-right: 0px" interface="popover" placeholder="Select" [style.backgroundColor]="validWeather ? '#E8F5E9' : '#FFFF00'" (ionChange)="updateWeather($event)" [(ngModel)]="weather" text-left >
            <ion-option value="COL">Cold</ion-option>
            <ion-option value="COO">Cool</ion-option>
            <ion-option value="HOT">Hot</ion-option>
            <ion-option value="RAI">Rain</ion-option>
            <ion-option value="SNO">Snow</ion-option>
            <ion-option value="WAR">Warm</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item style="background: #E8F5E9; margin-top: 5px; margin-bottom: 5px;">
          <ion-label style="color: black; font-size: 20px; margin-right: 0px">Time: </ion-label>
          <ion-datetime style="color: black; font-size: 20px;" displayFormat="HH:mm:ss" [(ngModel)]="time" (ionChange)="updateSurveyTime(time)" [disabled]="true"></ion-datetime>  
        </ion-item>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-card>

  <!--.........................................................................................................-->

<ion-card style="background: #E8F5E9" text-center>
  <ion-row>
    <ion-label text-left style="color: black; font-size: 20px; padding-left: 16px;" >Station: </ion-label>
    <ion-col col-auto>
      <button tappable ion-button style="font-size: 20px; color: black;" [style.backgroundColor]="_dapDictionary['station'] ? '#E8F5E9' : '#FFFF00'" (click)="ChangeStation()" [disabled]="(((tour_start && tour_end && weather) == null) || validName == false)">{{_dapDictionary['station']}}</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-item style="background: #E8F5E9">
          <ion-label style="color: black; font-size: 20px; margin-right: 0px">Route: </ion-label>
          <ion-select style="color: black; font-size: 20px;" [(ngModel)]="routes" [style.backgroundColor]="validRoutes ? '#E8F5E9' : '#FFFF00'" [disabled]="(_dapDictionary['station'] == '')" multiple="true" (ionChange)="setRoute()">
            <ion-option *ngFor="let routes of trainList" [value]="routes">{{routes}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

    </ion-col>

    <ion-col offset-1>
      <ion-item style="background: #E8F5E9">
        <ion-label style="color: black; font-size: 20px; margin-right: 0px">Direction: </ion-label>
        <ion-select style="color: black; font-size: 20px;" [(ngModel)]="dir" [style.backgroundColor]="dir ? '#E8F5E9' : '#FFFF00'" interface="popover" [disabled]="(routes[0] == null)" (ionChange)="setDir($event)">
          <ion-option *ngFor="let dir of direction" [value]="dir">{{dir}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>

  <ion-row>

  </ion-row>
</ion-card>

  <!--.........................................................................................................-->

  <ion-card style="background: #E8F5E9">
    <ion-label style = "padding-left: 20px; font-size: 20px">Please Sign In The Space Below:</ion-label>
    <ion-row [ngClass]="{'drawing-active': isDrawing}">
      <signature-pad style = "padding-left: 20px" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col col-auto text-center>
        <button ion-button [disabled]="dir == ''" (click)='goToSurvey()'>Continue to Survey</button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>